#main{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  #section-main{
    overflow-y: auto;
    position: relative;
    width: 0;
    flex-grow: 1;
    max-height: 100%;
    //border: 1px dashed blue;
    padding: 1.5rem 2rem;
    > div{
      //border:1px dashed greenyellow;
      max-height: 100%;
    }
  }
}
