@import '../../../sass/colors';

#create-account{
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30%;
  margin: auto;
  //border: 1px dashed;
  > a{
    display: inline-block;
    margin-bottom: .5rem;
    color:$secondary; 
    text-decoration: none;
    i{ color:$secondary; }
  }

  > h4{
      margin-bottom: 1rem;
      font-size: 1.5em;
      color:$primary;
  }
  

  > input{
    margin-bottom: 1rem;
    width: 100%;
  }

  > div{
    display: flex;
    justify-content: space-between;
    > span{ 
      width: 0;
      flex-grow: 1;
      color:red;
      padding-right:.5rem; 
    }
  }
}