@import '../../sass/colors';

.input-file{
  border:1px dashed #ccc;
  background: none;
  border-radius: 10px;
  padding: .4rem 1rem;
  text-align: center;
  position: relative;
  
  label{
    display: block;
    color:$primary;
  }
  input[type="file"]{
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}