@import '../../../sass/colors';

#login{
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30%;
  margin: auto;
  //transform: translateY(-50%);
  //border: 1px dashed red;
  > h2{
    color: $primary;
    margin-bottom: 1rem;
  }
  > label{
    display: inline-block;
    margin-bottom: .2rem;
  }
  > input{
    width: 100%;
    //padding: .4rem 1rem;
    margin-bottom: 1rem; 
  }
  .text-danger-login{
    color: red;
    margin-bottom: 1em;
    margin-top: -1em;
  }
  #login-controls{
    margin-top: .8rem;
    > div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      a{
        color: $primary;
        font-weight: bold;
        text-decoration: none;
      }
    }
    > span{ color:red; }
  }
}