@import '../../sass/colors.scss';

#sidebar{
  width: 0;
  overflow: hidden;
  position: relative;
  max-height: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px $default;
  -moz-box-shadow: 0px 0px 5px 0px $default;
  box-shadow: 0px 0px 5px 0px $default;
  transition: .5s;
  input[type="checkbox"]#sidebar-checkbox{
    display: none;

    & + label{
      position: fixed;
      top: 5.5rem;
      left: .5rem;
      //padding: 3px 8px;
      //background: #ccc5;
      cursor: pointer;
      z-index: 100;
      //i{color: $default;}
    }
    
  }
  
  #sidebar-wrap{    
    padding: 1rem;
    padding-top: 2rem;
    max-height: 100%;
    opacity: 0;
    
    .avatar{
      margin-bottom: 1.5rem;
    }

    nav{
      width: 100%;
      padding: 0 1rem;
      section{
        margin-bottom: 1rem;
      }
      .nav-item{
        cursor: pointer;
        background: none;
        border:none;
        padding: 0;
        font-size: 18px;
        img{
          width: 30px;
          margin-right: 5px;
        }
        //border:1px dashed red;
      }
      a,button{
        text-decoration: none;
        &:hover{ color: $primary }
        &.active{
          color: $primary;
        }
      }
      .sidebar-submenu{
        transition: .5s;
        height: 0;
        overflow: hidden;
        padding-left: 1rem;
        &.active{
          ul{
            list-style: none;
            li{
              margin-bottom: .5rem;
              a span{margin-right: .5rem}
            }
          }
          padding-top: .5rem;
          height: auto;
        }

      }
    }

  }
  
  &.active{
    width: 20%;
    overflow-y: auto;
    #sidebar-wrap{
      transition: 2s;
      opacity: 1;
    }
  }

}