#add-project{
  //height: 100%;
  //border: 1px dashed red;
  //height: 100%;
  //max-height: 100%;
  > div{
    margin-bottom: 1.5rem;
  }
  > button{
    float: right;
    padding: .5rem 2.5rem;
  }
}