#my-profile{
  > section{ 
    margin-bottom: 1rem; 
    
    > h4{
      margin-bottom: 1rem;
    }

    &#user-data{
      display: flex;
      flex-flow: wrap row;
      > .data{
        width: 0;
        flex-grow: 1;
        #user-data-earning-stats{
          margin-top: 1.5rem;
          display: flex;
          justify-content: space-between;
          > div{ 
            text-align: center;
            font-size: 1rem;
            font-weight: bold;
            > span{ font-size: 1.2rem; }
          }
        }
      }
      > .stats{
        width: 100%;
        padding-left: 1rem;
        border-left: 1px solid #ccc5;
        margin-left: 1rem; 
        @media (min-width: 992px) {
          width: 35%;
        }
        //border:1px dashed black;
      }
    }

    &#work-experience{
      p{
        margin-bottom: .5rem;
        &.experience-date{
          color: #ccc;
        }
      }
    }

  }
  

}