#my-profile{
  > section{ 
    margin-bottom: 1rem; 
    
    > h4{
      margin-bottom: 1rem;
    }

    &#user-data{
      display: flex;
      flex-flow: wrap row;
      > .data{
        width: 0;
        flex-grow: 1;
        //border:1px dashed red;
        //width: 65%;
      }
      > .stats{
        width: 100%;
        @media (min-width: 992px) {
          width: 35%;
        }
        //border:1px dashed black;
      }
    }

    &#work-experience{
      p{
        margin-bottom: .5rem;
        &.experience-date{
          color: #ccc;
        }
      }
    }

  }
  

}