@import '../../sass/colors.scss';

#tag-edit-user{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  > .user-data{
    //border:1px dashed red;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    > .avatar{
      display: block;
    }
    > .name-address{
      width: 0;
      flex-grow: 1;
      padding-left: 1rem;
      input{
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  
    > textarea{
      margin-top: .5rem;
      width: 100%;
    }
  }
  > .stats{
    width: 35%;
    
    > .user-stats div span{
      color: #ccc;
    }
  }
}
